@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500;900&display=swap');
body{
    background-color: #147da4;
    color:white;
    font-family: 'Orbitron', sans-serif;
}
header{
    background-color: #2222c0;
    display:flex;
    justify-content:center;
    align-items:center;
}

a{
    color: #033f93;
}
a:hover{
    color: #09dc1b;
}

.bordered, td, tr{
    border: 2px solid silver;
    justify-content:center;
    align-items:center;
}
td{
    padding-left:10px;
    padding-right:10px;
}
.vert-wrap{
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    align-items:center;
}