@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500;900&display=swap');
body{
    background-color: #147da4;
    color:white;
    font-family: 'Orbitron', sans-serif;
}
header{
    background-color: #2222c0;
    display:flex;
    justify-content:center;
    align-items:center;
}

h2{
    font-weight:900;
}

a{
    color: #033f93;
}
a:hover{
    color: #09dc1b;
}

.bordered{
    border: 2px solid silver;
    justify-content:center;
    align-items:center;
    text-align:center;
}

.no_list{
    list-style-type:none;
}

b{
    font-weight:900;
}

.bordered_gold, td, tr{
    border:6px solid gold;
    justify-content:center;
    align-items:center;
}

td{
    padding-left:10px;
    padding-right:10px;
    text-align:center;
}
.vert-wrap{
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    align-items:center;
}

.bold_paragraph{
    font-weight:bold;
}
