@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500;900&display=swap');
@import "assets/Triforce.ttf";

@font-face{
    font-family:"Triforce";
    src:
    url("assets/Triforce.ttf") format("truetype");
}

@font-face{
    font-family:"Junction";
    src:
        url("assets/Junction-regular.otf") format("opentype");
    font-weight:normal;
}

@font-face{
    font-family:"Junction";
    src:
        url("assets/Junction-light.otf") format("opentype");
    font-weight: 300;
}

@font-face {
    font-family: "Junction";
    src:
        url("assets/Junction-bold.otf") format("opentype");
    font-weight: bold 900;
}

img{
    image-rendering:-moz-crisp-edges;          /* Firefox        */
    image-rendering:-o-crisp-edges;            /* Opera          */
    -ms-interpolation-mode:nearest-neighbor;   /* IE8+           */
}

body{
    /*background-color: #147da4;*/
    background:#2222c0;
    background:linear-gradient(to bottom, #2222c0 0%, #147da4 100%);
    background-repeat:no-repeat;
    background-attachment: fixed;
    color:white;
    font-family: 'Junction', sans-serif;
}

#tcc_logo{
    width:50%;
}

header{
    /*background-color: #2222c0;*/
    display:flex;
    justify-content:center;
    align-items:center;
}

.logo_and_name{
    display:flex;
    width:100%;
    justify-content:center;
    align-items:center;
    border-top:2px solid silver;
    border-left:2px solid silver;
    border-right:2px solid silver;
}

nav{
    width:100%;
    top:0;
    position:sticky;
    border:2px solid gold;
}

nav>ul::after{
    content:"";
    display:table;
    clear:both;
}

nav>ul>li{
    display:flex;
    /*border-right:0.25px solid black;*/
    /*border-left:0.25px solid black;*/
    float:left;
    width:50%;
    position:relative;
    justify-content:center;
    text-align:center;
    align-items:center;
}

.nav_list{
    display:flex;
    list-style-type:none;
    margin:0;
    align-items:center;
    text-align:center;
    justify-content:space-evenly;
}

.nav_item{
    position:relative;
    width:50%;
}

.nav-item:first-child{
    border-right:1px solid gold;
}

.nav_item:nth-child(2){
    border-left:2px solid gold;
}

.nav_item>a{
    color:white;
}

h2{
    font-weight:900;
}

a{
    color: #36c3ff;
}
a:hover{
    color: #09dc1b;
}

.bordered{
    border: 2px solid silver;
    justify-content:center;
    align-items:center;
    text-align:center;
}

.unroll>a::after{
    content:"▼";
    font-size:12px;
}

.no_list{
    list-style-type:none;
}

b{
    font-weight:900;
}

.bordered_gold, td, tr{
    border:6px solid gold;
    border-collapse:collapse;
    border-radius:20px;
    justify-content:center;
    align-items:center;
}

td{
    padding-left:10px;
    padding-right:10px;
    text-align:center;
}
.vert-wrap{
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    align-items:center;
}

footer{
    justify-content:center;
    text-align:center;
}

.bold_paragraph{
    font-weight:bold;
}

.options{
    display:none;
    position:absolute;
    width:100%;
    list-style-type:none;
    box-shadow:0 1px 2px #CCC;
    background-color: #2222c0;
    border:1px solid silver;
    top:100%;
}

.options>li{
    content:"";
    width:100%;
    height:25px;
    text-align:center;
    z-index:1000;
}

.options>li::after{
    content:"";
    display:table;
    clear:both;
}

.options>li>a{
    color:white;
    border-bottom:none;
}

.options>li>a:hover{
    color: #09dc1b;
}

nav>ul>li:hover .options{
    display:block;
}
